In [1]:
from influxdb_client import InfluxDBClient
from influxdb_client.client.write_api import SYNCHRONOUS
from InfluxAdmin import *

In [2]:
client = GetDatabaseClient()

In [7]:
#Note: startTime ref to now() must be in double quotes
QueryDatabase(client=client,startTime="-10h",itemID='itemID')

,result,table,_time,itemID,avgHighPrice,avgLowPrice,highPriceVolume,lowPriceVolume
0,_result,0,2023-03-04 20:36:05.474287+00:00,itemID,8907,7890,5675756,5675744
1,_result,0,2023-03-04 20:52:39.906475+00:00,itemID,8907,7890,5675756,5675744
2,_result,0,2023-03-04 21:14:54.575921+00:00,itemID,8907,7890,5675756,5675744
3,_result,0,2023-03-04 21:15:22.919332+00:00,itemID,8907,7890,5675756,5675744
4,_result,0,2023-03-04 21:15:23.421078+00:00,itemID,8907,7890,5675756,5675744
5,_result,0,2023-03-04 21:15:23.822331+00:00,itemID,8907,7890,5675756,5675744
6,_result,0,2023-03-04 21:15:24.247141+00:00,itemID,8907,7890,5675756,5675744
7,_result,0,2023-03-04 21:15:24.634498+00:00,itemID,8907,7890,5675756,5675744
8,_result,0,2023-03-04 21:15:25.014346+00:00,itemID,8907,7890,5675756,5675744
9,_result,0,2023-03-04 21:15:25.365779+00:00,itemID,8907,7890,5675756,5675744
10,_result,0,2023-03-04 21:15:25.689243+00:00,itemID,8907,7890,5675756,5675744